html, body {
	height: 100%;
	background-color: #333;
}

body {
	color: #fff;
}

content {
	z-index: 2;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

.hr.text-muted {
	border-top: 1px solid #6c757d !important;
}